img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #D3D3D3;
}

#welcome {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: #f4f8ff;
    color: black;
}

.center {
    display: block;
    margin: auto;
    padding: auto;
    width: 75%;
    height: 64%;
    color: black;
}
.starttext {
    display: block;
    margin: auto;
    padding: auto;
    width: 56%;
    height: 64%;
    color: black;
}


